#wrapper {
    background: #fff;
    height: 400px;
    margin: 30px auto;
    overflow: hidden;
    width: 400px;
}
#status {
    background: black;
    float: left;
    height: 100px;
    width: 100px;
}
#status a {
    color: #fff;
    font-size: 12px;
    left: 10px;
    position: relative;
    text-decoration: none;
}
#status a:hover {
    color: deepskyblue;
}
#status span {
    line-height: 10px;
}
#status label:hover {
    color: deepskyblue;
}
#status input[type="radio"] {
    margin: 0 0 0 10px;
    padding: 0;
}
#status label {
    bottom: 2px;
    color: #fff;
    font-size: 10px;
    position: relative;
}
#stats {
    float: left;
    height: 100px;
    overflow: hidden;
    width: 170px;
}
#stats div {
    float: left;
    height: 20px;
    margin: 5px;
    overflow: hidden;
    width: 45px;
}
#board {
    border: 1px solid black;
    clear: left;
    float: right;
    height: 288px;
    overflow: hidden;
    width: 288px;
}
#board div.cell {
    border: 1px solid black;
    float: left;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 30px;
}
#board div.cell input {
    border: none;
    color: #777;
    font-size: 20px;
    height: 100%;
    line-height: 100%;
    text-align: center; 
    width: 100%;
}
#board div.cell input.readonly {
    color: #000;
}
#board div.cell input.maybe {
    color: orange;
}

#board div.cell.gray input {
    background: #dddddd;
}
